/* Основные стили приложения */
.root {
    -fx-background-color: rgba(59, 59, 59);
}

/* Заголовок приложения */
.label {
    -fx-font-family: 'Manrope_Cut_008 ExtraBold';
    -fx-font-size: 15;
    -fx-text-fill: white;
}

/* Стили для ScrollPane */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: #444444;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #666666;
    -fx-background-radius: 5;
}

.scroll-pane .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #777777;
}

/* Контейнер для элементов */
.entities-container {
    -fx-background-color: transparent;
    -fx-spacing: 10;
    -fx-padding: 10;
}